<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net debug="false">
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender,log4net">
      <param name="File" value="RSIOnBaseUnity.log"/>
      <param name="AppendToFile" value="true"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%date %-5level %logger - %message%newline"/>
      </layout>
    </appender>
    <appender name="RSIOnBaseUnityConsole" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="ERROR"/>
        <foreColor value="Red, HighIntensity"/>
        <backColor value="White"/>
      </mapping>
      <mapping>
        <level value="Warn"/>
        <foreColor value="Yellow, HighIntensity"/>
      </mapping>
      <mapping>
        <level value="INFO"/>
        <foreColor value="White, HighIntensity"/>
      </mapping>
      <mapping>
        <level value="DEBUG"/>
        <foreColor value="Green, HighIntensity"/>
      </mapping>
      <mapping>
        <level value="TRACE"/>
        <foreColor value="Green, HighIntensity"/>
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message%newline"/>
      </layout>
    </appender>
    <root>
      <priority value="INFO"/>
      <appender-ref ref="LogFileAppender"/>
      <appender-ref ref="RSIOnBaseUnityConsole"/>
    </root>
  </log4net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  <appSettings>
    <add key="appServerURL" value="https://onbase-dev.rsi/AppServer/Service.asmx" />
    <add key="username" value="gpsingh" />
    <add key="password" value="9988@rsi9988" />
    <add key="dataSource" value="OnBase" />
    <add key="documentTypeGroup" value="RSI Documents" /> 
    <add key="documentsDirectory" value="C:\RSI\BULK_CONTENT" />
    <add key="domain" value="RSI" />
  </appSettings>
</configuration>