<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  <appSettings>
    <add key="appServerURL" value="https://onbase-dev.rsi/AppServer/Service.asmx" />
    <add key="username" value="MANAGER" />
    <add key="password" value="password" />
    <add key="dataSource" value="OnBase" />
    <add key="documentTypeGroup" value="RSI Documents" />
    
    <add key="documentType" value="MOPOC" />
    <add key="fileType" value="PDF" />
  </appSettings>
</configuration>